<header class="intro-header" id="postbg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Add Article</h1>
                        <hr class="small">
                        <span class="subheading">Fill it all out</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <body>
    <div class ="">
        
        <P class ="text-center">New article</P>
    </div>
    </body>
        <%= render 'form' %>
           
     
    
    
