    <header class="intro-header" id="aboutbg">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Us</h1>
                        <hr class="small">
                        <span class="subheading">This is what we do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row ">
            
            <div class="text-center">
                <p class="post-title">Hi and welcome to the Block news! We are Lethbridge's newest source for local advertising and news delivered daily around the city. Our aim is to support our local businesses, small or large, and help them reach success through affordable and easily accessible advertising. </p>
            </div>
            <div class="text-center"><%= image_tag("slb-icon.png", style: "width: 25%; height:25%")-%></div>
            <div class="text-center">
                <p class="post-title">We believe that shopping and supporting local helps the community to grow and thrive - something we can all benefit from! Our job here at the Block is to provide a platform for you - the locals - to discover a new or existing business, article or favorite recipe, as well as you - the local businesses to reach a new audience through advertising.</p>
                <p class="post-title">Bringing our communities and neighborhoods closer one newsletter at a time!</p>
            </div>
        </div>
    </div>


