    <header class="intro-header" id="pricingbg">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Pricing</h1>
                        <hr class="small">
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <br>
    <div class="container text-center">
        <div class="row text-center">
            <div class="well text-center col-md-8 col-md-offset-2">
                <table class="post-title">
                <tr><td class=""><%= image_tag("eighth-icon.svg", class:"fadeimage") -%></td></tr>
                <tr><td class="text-center">3.2"w x 1.9"h</td></tr>
                </table>
                <table class="pricing-table text-center post-title">
                    <tr><td ><strong>Eighth Page Ad</strong></td></tr>
                    <tr><td >1 Insertions: $35</td></tr>
                    <tr><td >5 Insertions: $120</td></tr>
                    <tr><td >10 Insertions: $200</td></tr>
                    <tr><td >20 Insertions: $330</td></tr>
                </table>
            </div>
        </div>
        <div class="row text-center">
            <div class="well text-center col-md-8 col-md-offset-2">
                <table class="post-title">
                <tr><td class=""><%= image_tag("quarter-icon.svg", class:"fadeimage") -%></td></tr>
                <tr><td class="text-center">V - 6.5"w x 1.9"h</td></tr>
                <tr><td class="text-center">H - 3.2"w x 3.8"h</td></tr>
                </table>
                <table class="pricing-table post-title">
                    <tr><td><strong>Quarter Page Ad</strong></td></tr>
                    <tr><td >1 Insertions: $55</td></tr>
                    <tr><td >5 Insertions: $200</td></tr>
                    <tr><td >10 Insertions: $330</td></tr>
                    <tr><td >20 Insertions: $530</td></tr>
                </table>
            </div>
        </div>
        <div class="row text-center">
            <div class="well text-center col-md-8 col-md-offset-2">
                <table class="post-title">
                <tr><td class=""><%= image_tag("half-icon.svg", class:"fadeimage") -%></td></tr>
                <tr><td class="text-center">V - 6.5"w x 3.8"h</td></tr>
                <tr><td class="text-center">H - 3.2"w x 7.8"h</td></tr>
                </table>
                <table class="pricing-table  post-title">
                    <tr><td><strong>Half Page Ad</strong></td></tr>
                    <tr><td >1 Insertions: $85</td></tr>
                    <tr><td >5 Insertions: $330</td></tr>
                    <tr><td >10 Insertions: $530</td></tr>
                    <tr><td >20 Insertions: $950</td></tr>
                </table>
            </div>
        </div>
        <div class="row text-center">
            <div class="well text-center col-md-8 col-md-offset-2">
                <table class="post-title">
                <tr><td class=""><%= image_tag("full-icon.svg", class:"fadeimage") -%></td></tr>
                <tr><td class="text-center">6.5"w x 7.8"h</td></tr>
                </table>
                <table class="pricing-table  post-title">
                    <tr><td><strong>Full Page Ad</strong></td></tr>
                    <tr><td >1 Insertions: $125</td></tr>
                    <tr><td >5 Insertions: $500</td></tr>
                    <tr><td >10 Insertions: $950</td></tr>
                    <tr><td >20 Insertions: $1450</td></tr>
                </table>
            </div>
        </div>
    </div>
